.mg-left {
    margin-left: 15px;
}

.btn_div {
	float: right;
}

.container {
	margin-top: 40px;
}

.table {
	margin-top: 20px;
}

.no_record {
	text-align: center;
	font-size: 30px;
	height: 100px;
	padding: 30px;
    color: #7e868e;
}

.alert_close {
	float: right;
}